<ion-view view-title="Choose your Team">
    <ion-nav-buttons side="primary">
        <!--<button class="button button-icon icon ion-ios-minus-outline" ng-click="toggling()"></button>-->
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <!--<div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Today's List" ng-model='goal' class="fullWidth">
                </label>
                <button class="button button-balanced button-small" ng-click="adding(goal);goal='' ">
                    Submit
                </button>
            </div>
        </div>-->

        <!--<ion-list show-delete="shouldShowDelete">
            <ion-item ng-repeat="item in items" item="item">
                <label class="checkbox" style="display: inline-block; vertical-align: middle; height:42px">
                    <input type="checkbox" ng-model="item.complete" ng-checked="item.complete" ng-click="checklistChange(item)">
                </label>
                {{ item.text }}
                <ion-delete-button class="ion-trash-a" ng-click="deleteItem(item)"></ion-delete-button>
            </ion-item>
        </ion-list>-->

<!--Testing for choose sport-->
        <div ng-controller="SportCtrl">
            <h2> Choose sport</h2>
            <ion-radio ng-model="item.complete" ng-repeat="item in items"> {{item.text}}</ion-radio>
        </div>

            <div ng-controller="LeagueCtrl">
                <h2> Choose Conference</h2>
                <ion-radio ng-model="item.complete" ng-repeat="item in items"> {{item.LeagueName}}</ion-radio>
            </div>

            <div ng-controller="TeamCtrl">
                <h2> Choose Team</h2>
                <ion-radio ng-model="item.complete" ng-repeat="item in items"> {{item.TeamName}}</ion-radio>
            </div>
        <div >
        <button class="button button-large-font-size button-block button-assertive" ui-sref="app.home">Booyah</button>
            </div>
</ion-content>
</ion-view>